<li
  <% if (page.current) { %>
    class='page-item disabled'
  <% } else { %>
    class='page-item'
  <% } %>
>
  <a
    class='page-link'
    href='<%= page.href %>'
    hx-get="<%= page.href.replace('/search', '/results') %>"
    hx-target="#results"
    hx-push-url="<%= page.href %>"
    <% if (page.current) { %>
      tabindex="-1"
    <% } %>
   >
     <%= text %>
   </a>
</li>
